.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__img {
        cursor: pointer;
        height: 30rem;
        margin-right: $gap;
        margin-bottom: $gap;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        width: auto;

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
        }
    }

    &__title {
        font-size: 4rem;
        padding: 6rem 0;
        width: 100%;
    }
}
