.about {
    flex-wrap: wrap;
    padding: 0rem 2rem 20rem 2rem;

    @media (max-width: 1024px) {
        padding: 0rem 2rem 10rem 2rem;
    }

    &-title {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    &-subtitle {
        color: lighten($color-text-darker, 65);
        font-weight: 700;
        font-size: 1.8rem;
        position: relative;
        text-transform: uppercase;
        &::before {
            background-color: $color-primary-darker;
            content: '';
            height: 4px;
            left: 0;
            position: absolute;
            top: -1.5rem;
            width: 80%;
        }
    }

    .divider {
        width: 50%;
        margin-bottom: 12rem;

        @media (max-width: 768px) {
            margin-bottom: 6rem;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &:nth-child(2n) {
            padding-right: 4rem;
        }
    }

    &-cards {
        display: flex;

        @media (max-width: 1220px) {
            flex-wrap: wrap;
        }
    }

    &-card {
        align-items: center;
        background-image: $gradient-primary;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
        color: $color-bg;
        display: flex;
        flex-direction: column;
        padding: $gap;
        transition: all 0.3s ease-in-out;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        width: 23%;

        @media (max-width: 1220px) {
            margin-bottom: 2rem;
            width: 49%;
        }

        @media (max-width: 768px) {
            margin-bottom: 2rem;
            width: 100%;
        }

        &-title {
            line-height: 1.2;
            padding: 4rem 0;
        }

        &:hover {
            background-color: $color-secondary;
            color: $color-bg;
            transform: translateY(-2rem) scale(1.1);
        }
    }
}
