.footer {
    background-color: $color-text;
    min-height: 50rem;

    &__title {
        color: $color-bg;
        font-size: 2.5rem;
    }

    &__text {
        color: $color-bg;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    &__copyright,
    &__author {
        color: $color-bg;
        font-size: 1.2rem;
    }
}
