.header {
    background-color: $color-text-darker;

    &-info {
        color: $color-bg;
        display: flex;
        justify-content: flex-end;
        padding: 3rem 0;
    }

    &-list {
        display: flex;
        padding-left: 2rem;

        @media (max-width: 400px) {
            align-items: center;
            flex-direction: column;
            width: 100%;
        }

        &-item {
            align-items: center;
            display: flex;
            font-weight: 600;
            padding-right: 8rem;

            &:first-child,
            &:last-child {
                cursor: pointer;
            }

            &:nth-child(3) {
                @media (max-width: 768px) {
                    display: none;
                }
            }

            &:nth-child(2) {
                @media (max-width: 1024px) {
                    display: none;
                }
            }

            &:last-child {
                padding-right: 2rem;

                @media (max-width: 768px) {
                    display: none;
                }
            }

            &-img {
                margin-right: 1.5rem;
            }

            &-link {
                color: $color-bg;
            }
        }
    }

    &-logo {
        align-items: center;
        display: flex;
    }

    &-logo-img {
        margin-left: 2rem;

        @media (max-width: 480px) {
            width: 70%;
        }
    }

    &-main-content-wrapper {
        background-color: $color-bg;
        padding: 1rem 0;
    }

    .nav-bar {
        align-items: center;
        display: flex;
        padding-right: 2rem;

        @media (max-width: 1280px) {
            display: none;
        }

        &-list {
            display: flex;

            &-item {
                padding-right: $gap;

                &-link {
                    color: $color-text;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }

        &-time-table-toggle {
            align-items: center;
            border: none;
            color: $color-white;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            justify-content: space-between;
            padding: 1.5rem 2rem;
            text-align: center;
            text-decoration: none;

            &-img {
                margin-right: 2rem;
            }

            &-header {
                margin-right: 2rem;

                @media (min-width: 1281px) {
                    display: none;
                }

                @media (max-width: 400px) {
                    margin-top: 2rem;
                    width: 100%;
                }
            }
        }
    }

    .nav-bar-mobile {
        background-color: $color-bg;
        box-shadow: -1px 1px 3rem rgba(0, 0, 0, 0.1);
        min-height: 100vh;
        position: fixed;
        top: 0;
        transition: transform 0.3s ease-in-out;
        transform: translateX(0%);
        right: 0;
        width: 40%;
        z-index: 1000;

        @media (min-width: 1281px) {
            display: none;
        }

        @media (max-width: 1024px) {
            width: 70%;
        }

        @media (max-width: 600px) {
            width: 100%;
        }

        &-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;

            &-item {
                font-size: 2rem;
                padding: 1rem 0;
                padding-left: 2rem;
                text-align: left;

                @media (max-width: 600px) {
                    font-size: 3rem;
                    text-align: center;
                }

                &-link {
                    color: $color-text;
                    font-weight: 600;
                    text-decoration: none;
                }
            }
        }

        &-img {
            cursor: pointer;
            position: absolute;
            top: 2rem;
            right: 2rem;
        }

        &-time-table-toggle {
            align-items: center;
            border: none;
            color: $color-white;
            cursor: pointer;
            display: flex;
            font-size: 1.8rem;
            justify-content: space-around;
            margin-top: -7rem;
            margin-left: 2rem;
            margin-right: 2rem;
            padding: 1.5rem 2rem;
            position: absolute;
            text-decoration: none;
            width: calc(100% - 4rem);

            &-img {
                margin-right: 2rem;
            }
        }
    }

    .nav-box {
        align-self: center;
        cursor: pointer;
        height: 4rem;
        margin-right: 2rem;
        width: 4rem;

        &-img {
            width: 100%;
        }

        @media (min-width: 1280px) {
            display: none;
        }
    }
}

.hide-mobile {
    transform: translateX(100%) !important;
}
