.testimonials {
    padding: 0rem 2rem 20rem 2rem;
    position: relative;

    @media (max-width: 1024px) {
        padding: 0rem 2rem 5rem 2rem;
    }

    &-title {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    &-subtitle {
        color: lighten($color-text-darker, 65);
        font-weight: 700;
        font-size: 1.8rem;
        position: relative;
        text-transform: uppercase;
        &::before {
            background-color: $color-primary-darker;
            content: '';
            height: 4px;
            left: 0;
            position: absolute;
            top: -1.5rem;
            width: 80%;
        }
    }
}

.slider {
    border-left: 10rem solid $color-bg;
    border-right: 10rem solid $color-bg;
    color: $color-bg;
    min-height: 57rem;
    margin-top: 4rem;
    position: relative;
    overflow: hidden;
    text-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);

    @media (max-width: 1260px) {
        border-left: 4rem solid $color-bg;
        border-right: 4rem solid $color-bg;
    }

    @media (max-width: 768px) {
        border-left: 2rem solid $color-bg;
        border-right: 2rem solid $color-bg;
    }

    &-content {
        background-image: $gradient-primary;
        border-left: 8rem solid $color-bg;
        border-right: 8rem solid $color-bg;
        font-size: 2.2rem;
        min-height: 44rem;
        padding: 4rem;
        position: absolute;
        transform: translateX(-50%);
        transition: transform 0.3s ease-in-out;
        width: 100%;

        @media (max-width: 768px) {
            border: none;
            padding: 0 2rem;
        }

        @media (max-width: 1024px) {
            font-size: 1.8rem;
        }

        &-title {
            font-weight: 900;
            font-size: 4rem;
            padding: 2rem 0;

            @media (max-width: 1024px) {
                font-size: 2.8rem;
            }
        }

        &-footer {
            align-items: center;
            bottom: -14rem;
            color: $color-text;
            display: flex;
            font-size: 1.6rem;
            left: 4rem;
            position: absolute;

            &-name {
                font-weight: 600;
            }

            &-place {
                font-weight: 300;
                font-style: italic;
            }

            @media (max-width: 1260px) {
                display: none;
            }
        }
    }

    &-prev,
    &-next {
        cursor: pointer;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        z-index: 1000;
    }

    &-prev {
        left: 0;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &-next {
        right: 0;

        @media (max-width: 768px) {
            display: none;
        }
    }
}
