* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;

    @media (max-width: 1440px) {
        font-size: 60.5%;
    }

    @media (max-width: 768px) {
        font-size: 57.5%;
    }
}

body {
    background-color: $color-bg;
    color: $color-text;
    font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    min-height: 100vh;
    overflow-x: hidden;
}

ul,
ul li {
    list-style: none;
}

img,
svg {
    border: 0;
    height: auto;
    max-width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
    font-size: 6rem;
    font-weight: 400;
    line-height: 1.2;

    @media (max-width: 1440px) {
        font-size: 5rem;
    }

    @media (max-width: 1024px) {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.6rem;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 3px;
    border: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;

    &-primary {
        background-image: $gradient-primary;
    }

    &-secondary {
        background-image: $gradient-secondary;
    }

    &:hover {
        transform: translateY(-2px);
    }
}

.text-id {
    display: none; // Fix problem with positions
    color: $color-text;
    font-size: 8rem;
    font-weight: 700;
    left: -10rem;
    position: absolute;
    opacity: 0.04;
    top: 50%;
    transform: rotate(-90deg) translateY(0%) translateX(10rem);
    text-transform: uppercase;
    text-align: right;
}
